<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.vehicles.any? %>
      <h3>Vehicles (<%= @user.vehicles.count %>)</h3>
      <ol class="vehicles">
        <%= render @vehicles %>
      </ol>
      <%= will_paginate @vehicles %>
    <% end %>
  </div>  
  <%= link_to "Add vehicle", new_vehicle_path, class: "btn btn-large btn-success" %>
</div>